/* - - - - Entry point for CSS - - - - */
/* REM font and Rubik font from Google */
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,700;1,400&family=Rubik:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "REM", sans-serif;
    /* apply the following color to every text */
    @apply text-gray-500; 
}